<header>
	<h2>Serviço Geral WEB</h2>
	<p>
		Descrever o siginificado
	</p>
</header>
<section>
	<article class="textos">
		Texto 1
	</article>
	<article class="textos">
		Texto 2
	</article>
	<article class="textos">
		Texto 3
	</article>
</section>
<section>
	<article id="form_email">
		</header>
		<%= render 'form' %>
	</article>
</section>