<header>
	<h2>Tô precisando WEB</h2>
	<p>
	   <font style='text-decoration: underline;'>Ache o profissional que você precisa de forma rápida e prática.</font>
	</p>
</header>
<section>
	<article class="textos">
		<font style='font-weight:bold;font-style:italic;'>Encontrar um profissional livre não é facil</font><br>
		Toda vez que precisamos de um, não tem jeito,<br>
		liga daqui, pergunta dali e nada.<br>
		Ufaaaaa!<br>		
	</article>
	<article class="textos">
		<font style='font-weight:bold;font-style:italic;'>Com ToprecisandoWEB voce acha</font><br>
		Aqui você vai ter uma lista de profissionais<br>
		perto de você.<br>
		E vai saber as referencias sobre ele.<br>
		Bom Demais!<br>
	</article>
	<article class="textos">
		<font style='font-weight:bold;font-style:italic;'>E isto não custa nada</font><br>
		Afinal, toprecisandoweb esta aqui para te ajudar.<br>
		Quando mais você usar mais profissionais<br>
		vamos ter para você.<br
		
		>
	</article>
</section>
<section>
	<article id="form_email">
		</header>
		<%= render 'form' %>
	</article>
</section>